In [1]:
import pandas as pd

In [4]:
iris_dataset = pd.read_csv("iris/Iris.csv")

In [5]:
iris_dataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [8]:
iris_data = iris_dataset.values

In [12]:
iris_dataset.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [53]:
obj_df = iris_dataset.select_dtypes(include = ['object']).copy()
obj_df.head()

       Species
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [54]:
obj_df["Species"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [55]:
categorical_change = {"Iris-setosa": 0,"Iris-versicolor":1,"Iris-virginica":2}

In [58]:
obj_df.replace(categorical_change,inplace = True)

In [59]:
obj_df.dtypes

Species    int64
dtype: object

In [60]:
features = iris_data[:,1:5]
labels = obj_df

In [61]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [62]:
train_data,test_data,train_label,test_label = train_test_split(features,labels)

In [63]:
test_data.shape

(38, 4)

In [64]:
clf = DecisionTreeClassifier(criterion='gini')

In [65]:
clf_f = clf.fit(train_data,train_label)

In [66]:
output =clf.predict(test_data)

In [67]:
accuracy_score(test_label,output)

0.9736842105263158

In [44]:
# question it ran without converting the labels into numbers