In [4]:
from sklearn.impute import SimpleImputer

In [33]:
import pandas as pd
import numpy as np

In [34]:
com = pd.read_csv("/home/ash/adhoc/machine/datasets/com.csv")

In [73]:
com.columns

Index(['Name', 'Department', 'Manager', 'Salary'], dtype='object')

In [35]:
com.head()

            Name Department     Manager  Salary
0     Robin Hood        NaN         NaN     200
1  Arsene Wenger        Bar  Friar Tuck      50
2     Friar Tuck        Foo  Robin Hood     100
3    Little John        Foo  Robin Hood     100
4  Sam Allardyce        NaN         NaN     250

In [36]:
com.dtypes

Name          object
Department    object
Manager       object
Salary         int64
dtype: object

In [37]:
imp = SimpleImputer(missing_values = np.nan,strategy="most_frequent") # making simple imputer with strategy of most_ frequent for categorical variables

In [61]:
com_nm = imp.fit_transform(com)

In [75]:
com_nmd = pd.DataFrame(data = com_nm,columns = com.columns)

In [40]:
# trying 1 hot encoding
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [53]:
label_encoder = LabelEncoder()
label_transform = label_encoder.fit_transform(com_nm[:,1])

In [54]:
label_transform

array([1, 0, 1, 1, 1, 1])

In [66]:
one_hot_encoder = OneHotEncoder(sparse = False)

In [92]:
one_transform = one_hot_encoder.fit_transform(com_nm[:,1:-1])

In [93]:
columns = one_hot_encoder.get_feature_names()

In [94]:
one_hot_encoded = pd.DataFrame(data = one_transform, columns = columns)

In [96]:
one_hot_encoded["names"]= com_nm[:,0]

In [98]:
one_hot_encoded["Salary"] = com_nm[:,-1]

In [99]:
one_hot_encoded

,x0_Bar,x0_Foo,x1_Friar Tuck,x1_Little John,x1_Robin Hood,names,Salary
0,0.0,1.0,0.0,0.0,1.0,Robin Hood,200
1,1.0,0.0,1.0,0.0,0.0,Arsene Wenger,50
2,0.0,1.0,0.0,0.0,1.0,Friar Tuck,100
3,0.0,1.0,0.0,0.0,1.0,Little John,100
4,0.0,1.0,0.0,0.0,1.0,Sam Allardyce,250
5,0.0,1.0,0.0,1.0,0.0,Dimi Berbatov,50